<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604279310904-7icott51jcboijle0o2old1ogjt1d4s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604279310904-7icott51jcboijle0o2old1ogjt1d4s1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjh0EfOidikwuVpCNb_na-1ll39m4O2Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>604279310904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tomokawa.LoginFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-tt</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-tt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604279310904:ios:ef650a41e792d1077a74cd</string>
	<key>DATABASE_URL</key>
	<string>https://loginfirebase-tt.firebaseio.com</string>
</dict>
</plist>